<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<meta>
 <style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 5px;
  font-size: 1em;
}

img {
  width: 60%;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>


<!-- Template for the website -->
<body>
<div id="pagetitle">
   <br>
   <h1>Brain Food</h1>
   <h4>Search a dish or ingredient, and read about it while you cook and eat!</h4>
   <br>
</div>
<br>

<!-- Form to input search, filters, sort, and number of results returned -->
 <form action="" method="get">
     <label id=search_label for="search_term"><b>Search:</b></label>
     <input type="text" id="search_term" name="search_term" />
     <br>
     <p> Filter recipes:
      <input type="checkbox" name="food_filter" value="vegetarian">vegetarian</input>
      <input type="checkbox" name="food_filter" value="vegan">vegan</input>
      <input type="checkbox" name="food_filter" value="sugar-conscious">sugar-conscious</input>
      <input type="checkbox" name="food_filter" value="peanut-free">peanut-free</input>
     </p>
     <p>Sort recipes:
     <select name="food_sort">
         <option value="servings">servings</option>
         <option value="number of ingredients">number of ingredients</option>
     </select>
    </p>
    <p>Sort articles:
     <select name="news_sort">
         <option value="relevance">relevance</option>
         <option value="newest">newest</option>
         <option value="oldest">oldest</option>
     </select>
    </p>
     <p>Number of results:
     <select name="num_results">
         <option value=10>10</option>
         <option value=20>20</option>
         <option value=30>30</option>
         <option value=30>40</option>
         <option value=30>50</option>
     </select>
    </p>

     <input type="submit" value="Search" name="searchbutton">
 </form>
 <hr>
<!-- Displays what filters the user inputted -->
<h2>{{numresults}} results for {{searchterm}}</h2>
<p>Filters:
    {% for filter in recipefilters %}
    <i>{{filter}}</i>
    {% endfor %}
</p>
<p>
    Sort recipes by <i>{{recipesort}}</i> and articles by <i>{{newssort}}</i>
</p>

<!-- Recipes column -->
<div class="row">
 <div id="recipes" class="column">
   <h2>Recipes</h2>

   {% for recipe in recipes %}
   <div class="row">
     <div class='column'>
         <img src="{{recipe.image}}" alt="{{recipe.title}}" width="200" height="200">
     </div>

     <div class='column'>
       <a href="{{recipe.link}}" target="_blank">{{recipe.title}}</a>
       <p>{{recipe.timeString}}</p>
       <p>{{recipe.numIngredients}} ingredients</p>
       <p>Serves {{recipe.servesPeople}} people</p>
       <br>
     </div>
   </div>
   {% endfor %}
 </div>

<!-- Article column -->
 <div class="column">
   <h2>NYT Articles</h2>

   {% for article in articles %}
     <a href="{{article.url}}" target="_blank">{{article.headline}}</a>
     <p>By {{article.author}} &nbsp; | &nbsp; {{article.date}}</p>
     <p>{{article.summary}}</p>
     <br>
   {% endfor %}
 </div>
</div>
</body>
</html>
